*{
    margin: 0;
    padding: 0;
}

body{
    background-color: red;
    overflow: hidden;
}
.gameContainer{
    background-image: url(Background.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    width: 100%;
    height: 100vh;
}

.dino{
    background-image: url(dino.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 235px;
    height: 114px;
    position: absolute;
    bottom: 0;
    left: 52px;
}

.dragon{
    width: 146px;
    height: 143px;
    background-image: url(dragon.png);
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 64vw;
}

.animateDino{
    animation: dino 0.6s linear;
}
.dragonAnimation{
    animation: dragonAnimation 3.5s linear infinite;
}

.gameOver{
    position: relative;
    text-align: center;
    top: 12%; ;
    font-size: 55px;
    font-family:monospace;

}

#scoreContainer{
    position: absolute;
    font-weight: bold;
    left: 23px;
    top: 31px;
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px;
    font-family: monospace;
    font-size: 18px;
}

@keyframes dino {
    0%{
        bottom: 0;
    }
    50%{
        bottom: 500px;
    }
    100%{
        bottom: 0;
    }
}

@keyframes dragonAnimation {
    0%{
        left:100vw;
    }
    100%{
        left: -10vw;
    }
}
